name: Attest build provenance

on:
  workflow_call:
    inputs:
      image-digest:
        required: true
        type: string

permissions:
  id-token: write
  attestations: write
  artifact-metadata: write
  packages: write

jobs:
  attest:
    runs-on: ubuntu-latest
    steps:
      - name: Log into registry ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Attest
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ inputs.image-digest }}
          push-to-registry: true
